{% extends 'layout.html' %}

{% block body %}
    <div class="container mt-4">
            {% for i in keys %}
            <div class="mb-3">
                <input type="radio" class="btn-check" name="itags" id="{{ i }}" autocomplete="off">
                <label class="btn btn-outline-success" for="{{ i }}">✨{{ itags[i] }}</label>
            </div>
            {% endfor %}
    
        <form action="/dd" method="post">
            <div class="mb-3">
                <label for="itag" class="form-label">Enter ITag:</label>
                <input type="number" class="form-control" id="itag" name="itag" placeholder="12">
            </div>
            <button class="btn btn btn-success" type="submit">Download ⬇️</button>
        </form>
        <div class="mb-3">
            <label for="formFile" class="form-label">Choose Folder</label>
            <input class="form-control" type="file" id="formFile" webkitdirectory directory multiple>
            <button class="btn btn-danger" onclick="getFolderPath()">Get Path</button>
        </div>
    </div>

    <script>
        function getFolderPath() {
            const input = document.getElementById('formFile');
            if ('webkitdirectory' in input) {
                const folderPath = input.files[0].webkitRelativePath;
                alert('Selected folder path: ' + folderPath);
            } else {
                alert('Your browser does not support folder selection.');
            }
        }
        var radioButtons = document.querySelectorAll('input[name="itags"]');
        var inputTag = document.getElementById('itag');
        
        // Attach click event listeners to each radio button
        radioButtons.forEach(function(radioButton) {
            radioButton.addEventListener('click', function() {
                // Set the value of the input box to the clicked radio button's value
                inputTag.value = this.id;
            });
        });
    </script>

{% endblock %}