{% extends 'layout.html' %}

{% block body %}
    
    <div class="container mt-4">
            {% for i in keys %}
            <div class="mb-3">
                <input type="radio" class="btn-check" name="itags" id="{{ i }}" autocomplete="off">
                <label class="btn btn-outline-success" for="{{ i }}">✨{{ itags[i] }} <span class="stext">of Size {{ sizes[i] }} mb</span class="text"></label>
            </div>
            {% endfor %}
    
        <form action="/dd" method="post">
            <div class="mb-3">
                <label for="itag" class="form-label">Enter ITag:</label>
                <input type="number" class="form-control" id="itag" name="itag" placeholder="12">
            </div>
            <div class="mb-3">
                <label for="formFile" class="form-label">Choose Folder</label>
                <input class="form-control" name="targetPath" type="text" id="formFile" value="{{ cwd }}" placeholder="{{ cwd }}">
            </div>
            <button class="btn btn btn-success" type="submit">Download ⬇️</button>
        </form>
    </div>

    <script>
        var radioButtons = document.querySelectorAll('input[name="itags"]');
        var inputTag = document.getElementById('itag');
        
        // Attach click event listeners to each radio button
        radioButtons.forEach(function(radioButton) {
            radioButton.addEventListener('click', function() {
                // Set the value of the input box to the clicked radio button's value
                inputTag.value = this.id;
            });
        });
    </script>

{% endblock %}